<!DOCTYPE html>
<html lang="en">
    <body>  
    {% include 'head.html' %}
   
        
            <!--<div class="filter-container">
                <form  id="filterForm"  method="POST" action="/">
            {% for field in filter_fields %}  
            <div class="filter-item">    
                <label id="{{ field }}">{{ field }}</label>
                {% if filter_values[field]  and  field not in dt_fields  %}
                    <select id="{{ field }}" onchange="click_submit()" name="{{ field }}">
                        <option value="" {% if  filter_params.get(field)  == "" %} selected {% endif %}>ყველა</option>
                        {% for value in filter_values[field] %}
                            <option value="{{ value }}" {% if  filter_params.get(field) | string == value | string %} selected {% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                {% elif field in dt_fields %} {# თუ ველი არის დროითი #}                               
                <input type="date" id="{{ field }}" name="{{ field }}" onchange="click_submit()" 
                       value="{{ filter_params.get(field,current_date) }}">  
                {% else %}
                    <input type="text" onkeyup="click_submit()" id="{{ field }}" autocomplete="on" name="{{ field }}" value="{{ filter_params.get(field) }}" />
            {% endif %}
            </div>  
            {% endfor %}         
            </div>
        {{filter_values}}
        <br/>
        {{filter_params}}
        
        -->
        
        
        <br/>
        
            <br/>
            {% if column_names %}
            <form method="POST" action="/singlrowview">
                <div class="update-table">
                    <div class="tbody">
                        {% if rows %}
                            {% for row_index, row in enumerate(rows) %}
                                <div class="tr">
                                    {% for key, value in row.items() %}   
                                        <div class="single_update">{{ key }}</div>   
                                        <div class="single_update">
                                        {% if loop.index == 1 %}
                                            <input class="single_update" type="text" name="{{key}}" value="{{ value }}" readonly>
                                        {% else %}   
                                            {% if filter_values[key]  and  key not in dt_fields %}
                                                <select id="{{ key }}" name="{{ key }}">
                                                <option value="" {% if  filter_params.get(key)  == "" %} selected {% endif %}>ყველა</option>
                                                {% for val in filter_values[key] %}
                                                    <option value="{{ val }}" {% if  filter_params.get(key) | string == val | string %} selected {% endif %}>{{ val }}</option>
                                                {% endfor %}
                                            {% else %}                                                                           
                                                <input class="single_update"
                                                    type="text" 
                                                    name="{{key}}" 
                                                    value="{{ value }}" 
                                                >
                                            {% endif %} 
                                        {% endif %}                                    
                                        </div>
                                        <br/>                                    
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <br/>
                            <button type="submit" class="single_update"> შეცვლა </button>                           
                            <a id="ManageViewButton" class="href_button" href="/"> დაბუნება </a>
                        {% else %}
                            <h3>არჩეული კრიტერიუმით ჩანაწერი ვერ მოიძენა.</h3>
                        {% endif %}
                    </div>
                </div>
            </form>
            {% else %}
                <h3>არც ერთი სვეტი არ არის არჩეული.</h3>
            {% endif %}
</form>

<br/>



<script>
    function formatDateTimeForAll(divClass) {
        const divs = document.querySelectorAll(divClass);

        divs.forEach(div => {
            const originalDateTime = div.textContent.trim();
            const datePart = originalDateTime.split(" ")[0];
            const timePart = originalDateTime.split(" ")[1];

            if (timePart) {
                const time = timePart.split(":");
                const formattedTime = `${time[0]}:${time[1]}`;

                if(!formattedTime.toLowerCase().includes("undefined"))
                div.textContent = `${datePart} ${formattedTime}`;
            }
        });
    }

    // Apply the function to all divs with class "td"
    formatDateTimeForAll('.td');


    function sendPost() {
    const query = "{{ query }}"; // ჩაანაცვლეთ საჭირო მნიშვნელობით
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = '/download';

    const input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'query';
    input.value = query;

    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
}
    // სკრიპტი getElementById('filterForm')  
    // div class="filter-item"><button type="button" id="buttonSubmit">refresh</button></div>  
    //<div class="filter-item"><button type="button" id="clearFilters">Clear</button></div>       
    //<div class="filter-item"><button type="button" id="buttonUpload">Upload</button></div>    
    //                   querySelectorAll('select')
    // Function to set default date to 60 days before today for all date inputs
    function setDefaultDateForAll() {
    // Get today's date
    const today = new Date();
    today.setDate(today.getDate());
    const yearsago = new Date(); 
    yearsago.setDate(yearsago.getDate()-30);    
    
    const formattedtoday = today.toISOString().split('T')[0];
    const formattedyearsago = yearsago.toISOString().split('T')[0];

    // Find all date inputs and set their value
        document.querySelectorAll('input[type="date"]').forEach(input => {
            if  (input.name.includes("_to") && !input.value) { 
                    input.value = formattedtoday;
                }
            if  (input.name.includes("_from") && !input.value) {
                    input.value = formattedyearsago;
                }
        });
    }

  // Call the function on page load
    window.onload = setDefaultDateForAll;

   
    $(document).ready(function() {
        $('filterForm').on('submit', function(event) {
            event.preventDefault();
            let formData = {
                //name: $('#name').val(),
                //age: $('#age').val()
            };
            $.ajax({
                url: '/process_data',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    $('#response').html(response.message);
                },
                error: function(error) {
                    $('#response').html('Error submitting form.');
                }
            });
        });
    });

    let isDownloading = false;
    
    setInterval(click_submit, 300000);

function click_submit() {
    if (!isDownloading) {
        document.getElementById("filterForm").submit(); // ფორმის ავტომატური გაგზავნა
    }   
  }


  function startDownload() {
    isDownloading = true;
    // ჩამოტვირთვის პროცესი იწყება
    // როცა ჩამოტვირთვა დასრულდება:
    setTimeout(() => { // მაგალითისთვის
      isDownloading = false;
    }, 60000); // ჩამოტვირთვის დასრულების შემდეგ
  }

  document.getElementById("downloadButton").addEventListener("click", startDownload);

  

document.getElementById("dashboardForm").addEventListener("submit", function() {
        // კონტენტის დამალვა ან გასუფთავება
        document.getElementById("dashboardForm").style.display = "none";
        document.getElementById("filterForm").style.display = "none";
});  

document.querySelectorAll('form').forEach(form => {
    form.querySelectorAll('select').forEach(select => {
        select.addEventListener('change', function() {
            // თუ ფორმის ID არ არის 'dashboardForm', გააგზავნე
            if (form.id !== 'dashboardForm0') {
                form.submit();  // ფორმის გაგზავნა
                fetchFormData(form);
            }
        });
    });
});

  


document.getElementById('clearFilters').onclick = function() {
        const form = document.getElementById('filterForm');
        const actionUrl = form.action; // ფორმის action URL
        window.location.href = actionUrl; // გადაყვანა ახალ URL-ზე
};

document.getElementById('buttonUpload').onclick = function() {
        const form = document.getElementById('filterForm');
        const actionUrl = form.action; // ფორმის action URL
        window.location.href = actionUrl+'upload'; // გადაყვანა ახალ URL-ზე
};

    
function fetchFormData(form) {
      // აჩვენეთ დატვირთვის overlay
      document.getElementById("loading-overlay").style.display = "block";

      const formData = new FormData(form);  // ავტომატურად იღებს ფორმის მონაცემებს
      const data = Object.fromEntries(formData.entries());  // JSON ობიექტში გარდაქმნა

      // მიმდინარე URL-ის გამოყენება
      const currentUrl = window.location.pathname;

      const url = form.action;

      fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);  // მიღებული მონაცემების გამოტანა
      })
      .catch(error => {
        console.error("დაფიქსირდა შეცდომა:", error);
      })
      .finally(() => {
        document.getElementById("loading-overlay").style.display = "none";
      });
}


    
</script>
    </script>
</body>
</html>
